.root {
  margin: 8px;
}

.paper {
  padding: 16px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding: 16px;
}

.fileInput {
  width: 95%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px;
}
